<div [class.dark]="state === 'dark'">
  <nav>
    <h3>
      ngn-datatable <small>({{ version }})</small>
    </h3>
    <ul class="main-ul">
      <li>
        <h4>Documentation</h4>
        <ul>
          <li>
            <a href="https://www.gitbook.com/download/pdf/book/ng-nest-datatable" target="_black">PDF</a>
          </li>
        </ul>
      </li>
      <li>
        <h4>Basic</h4>
        <ul>
          <li>
            <a href="#basic" (click)="state = 'basic'">Basic</a>
          </li>
          <li>
            <a href="#paging" (click)="state = 'paging'">Phân trang</a>
          </li>
        </ul>
      </li>
      <li>
        <h4>Chỉnh sửa</h4>
        <ul>
          <li>
            <a href="#row-delete" (click)="state = 'row-delete'">Xóa</a>
          </li>
          <li>
            <a href="#row-edit" (click)="state = 'row-edit'">Chỉnh sửa</a>
          </li>
          <li>
            <a href="#row-edit-template" (click)="state = 'row-edit-template'">Chỉnh sửa tùy chỉnh nội dung hiển thị</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <content>
    <!-- Basic -->
    <basic *ngIf="state === 'basic'"></basic>
    <paging *ngIf="state === 'paging'"></paging>
    <row-delete *ngIf="state === 'row-delete'"></row-delete>
    <row-edit *ngIf="state === 'row-edit'"></row-edit>
    <row-edit-template *ngIf="state === 'row-edit-template'"></row-edit-template>
  </content>
</div>
